.Loginconatiner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .itemBox{
    text-align: center;
    width: 40%;
    img{
      width:auto;
    }
   .buttonLogin{
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: rgb(81, 202, 81);
    border-radius: 20px;
    margin-top: 10px;
    color: white;
   }
  }
}