Circle{
  transition: all 1s ease-in-out;
  transform: rotate(93deg);
  transform-origin: 50% 50%;
  // background-color: red;
}
image.active{
  animation: rotation 30s infinite linear;
  transform-origin: 50% 50%;

}
.progressCircle{
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}